# .env (do not commit)
PGHOST=
PGPORT=11111
PGDATABASE=dbname
PGUSER=postgres
PGPASSWORD=
TESLA_EMAIL=email@gmail.com
TESLA_REFRESH_TOKEN=
TESLA_ACCESS_TOKEN=
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox  # or development
PLAID_REDIRECT_URI=http://localhost:8050/oauth-return
PLAID_WEBHOOK_URL=http://localhost:8050/oauth-return
BUDGET_USER_ID=name